[Unit]
Description = RUC-CourseSelectionTool-stats
After = network.target
Wants = network.target

[Service]
Type = simple
WorkingDirectory = /root/RUC-CourseSelectionTool-stats
ExecStart = /root/RUC-CourseSelectionTool-stats/venv/bin/python3 main.py

[Install]
WantedBy = multi-user.target
